.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-left: 5px;
    margin-bottom: 75px;
    color: white;
}

.content-container {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.container-fluid {
    padding-bottom: 0px;
}

body {
    background-color: rgb(27, 27, 27);
}

.collapse {
    background-color: rgb(27, 27, 27);
    color: white;

}

.navbar-collapse {
    background-color: transparent;
}