.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;

    background-color: bisque;
    margin-left: auto;
    margin-right: auto;

}

.item {
    border: 2px;
    border-radius: 10px;
    background-color: aquamarine;
    width: 250px;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

p {
    text-align: justify;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
}

.container {
    display: flex;
    flex-direction: column;
}