.grid-container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: header;
    background-color: crimson;
}

.main {
    grid-area: main;
    background-color: darkkhaki;
}

.sidebar {
    grid-area: sidebar;
    background-color: burlywood;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: footer;
    background-color: dimgray;

}

h1 h2 {
    text-align: center;
}